@font-face {
  font-family: "shadow";
  src: url(../assets/fonts/Terror.otf); }

@font-face {
  font-family: "sausage";
  src: url(../assets/fonts/Sausage.ttf); }

#header {
  height: 20vh;
  font-family: "shadow";
  font-size: 2rem;
  padding-right: 200px;
  background-image: linear-gradient(79deg, rgba(2, 0, 36, 0.701576) 1%, #12d57a 56%, #e811b9 100%); }

#main {
  height: 80vh;
  width: 100vw;
  overflow-y: auto; }

#nav {
  height: 10vh; }

#section_info {
  font-family: "sausage";
  font-size: 1.3em;
  background-color: blue; }

#section_info1 {
  font-family: "sausage";
  font-size: 1.2rem; }

#section_info_3 {
  font-family: "sausage";
  font-size: 1.2em; }

.link-contacto {
  background-color: blue; }

.link-recomendadas {
  background-color: yellow; }

.link-avances {
  background-color: #bf0fb6; }

.link-reviews {
  background-color: green; }

.body-contacto {
  width: 100vw;
  height: 150vh,  !important;
  background-color: #0f120f; }

#footer_contacto {
  height: auto;
  text-align: center;
  text-decoration: none; }

.animate__hinge {
  animation-delay: 3s;
  animation-fill-mode: both; }

#formulario_general {
  font-family: "sausage";
  background-color: #198754;
  height: 70vh;
  font-size: 2vw,!important; }

#formulario_nombre {
  border-radius: 30px solid black,  !important;
  margin: 30px solid black; }

#no {
  display: block;
  text-align: center; }

#botones_reseteo bottom {
  padding: 6px 12px;
  border: 3px solid transparent;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: yellow, !important;
  background-color: rgba(255, 215, 196, 0.562); }

.body-index {
  width: 100vw;
  height: 200vh; }

#carousel_index {
  height: 72vh;
  background-image: url(../assets/images/bgr-terror.jpg);
  background-repeat: round; }

#footer_index {
  height: 10vh;
  top: 0,  !important;
  width: 100vw; }

#video_loop {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 20px; }

#container_video {
  width: 100vw;
  border: 0;
  padding: 0; }
  #container_video h2 {
    font-family: "shadow", font-size 1.3rem;
    color: white; }
  #container_video p {
    font-family: "shadow", font-size 50px;
    color: wheat;
    text-align: center; }

.columna-video {
  width: 50%; }

.body-avances {
  background-image: url(../assets/images/fondo-avances.webp);
  border: 0;
  margin: 0;
  background-repeat: round;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100vw; }

.resena-avance1 {
  background-image: url(../assets/images/cine-proyector.webp);
  background-size: cover;
  border-radius: solid green 60px; }
  .resena-avance1 img {
    width: 75%; }

.resena-avance2 {
  background-image: url(../assets/images/cine-vacio.jfif);
  background-size: cover;
  border-radius: solid green 60px; }

.resena-avance3 {
  background-image: url(../assets/images/red-carpet.webp);
  background-size: cover;
  border-radius: solid green 60px; }

#container_avances {
  background-image: url(../assets/images/filmoteca.webp);
  border-radius: 40px solid green;
  background-repeat: no-repeat;
  background-size: cover; }
  #container_avances h3 {
    font-family: "shadow", font-size 1rem;
    color: wheat; }
  #container_avances p {
    font-family: "shadow", font-size 1.5rem;
    color: wheat;
    text-align: justify; }

col {
  flex-shrink: 1; }

.texto-video h2 u {
  font-size: 1.5rem;
  text-align: center; }

.texto-video p {
  font-size: 2rem;
  text-align: start; }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #container_avances {
    justify-content: center; }
    #container_avances div {
      display: block; }
      #container_avances div col {
        display: inline-block; }
        #container_avances div col iframe {
          width: 100%;
          padding-left: 30%; }
      #container_avances div article p {
        padding: 0 20px; } }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .body-avances {
    background-image: url(../assets/images/fondo-avances.webp);
    border: 0;
    margin: 0;
    background-repeat: round;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100vw; } }

html {
  overflow-x: hidden; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #footer_index {
    height: 40vh;
    width: 100vw;
    margin-bottom: 0; }
  #footer_contacto {
    height: auto;
    text-decoration: none; } }

@media only screen and (min-width: 574px) and (max-width: 768px) {
  #footer_index {
    height: auto;
    position: absolute;
    width: 100vw; }
  #footer_contacto {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 15vh;
    text-align: center; }
  .body-contacto {
    width: 100vw;
    height: 100vh,  !important;
    background-color: #0f120f; }
  #formulario_general {
    height: 70vh; }
  #section_info_3 {
    font-family: "sausage";
    font-size: 1em; } }

@media only screen and (max-width: 574px) {
  #section_info_3 {
    font-family: "sausage";
    font-size: 1em; } }
