.body-index{
    width: 100vw;
    height: 200vh;
}

#carousel_index{
    height: 72vh;
    background-image: url(../assets/images/bgr-terror.jpg);
    background-repeat: round;
}

#footer_index {
    height: 10vh;
    top: 0,  !important;
    width: 100vw;

}

